* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  border-radius: 50%;
  position: relative;
  min-width: 300px;
  min-height: 300px;
  border: 2px groove gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second {
  display: none;
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: blue;
  border: none;
}