* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

header {
  color: blue;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}

header h1 {
  font-size: 22px;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: 200;
  color: blue;
}

#app {
  border-radius: 50%;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.app-content {
  border-radius: 50%;
  min-width: 260px;
  min-height: 260px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 26px #d0d0d0, -5px -5px 26px #f0f0f0;
}

.second,
.minute,
.hour {
  position: absolute;
  width: 90px;
  height: 1px;
  background-color: blue;
  border: none;
}

.minute {
  background-color: black;
  height: 2px;
  width: 80px;
}

.hour {
  background-color: black;
  height: 3px;
  width: 60px;
}

.dot {
  width: 8px;
  height: 8px;
  border: none;
  background-color: black;
  border-radius: 50%;
}

.hour-characters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: url('../img/clockbgg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.hour-characters h3 {
  font-weight: 100;
  font-size: 1.2rem;
  color: blue;
}

.middle-hour-characters {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

/* Toggle button style  */
.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  padding: 0.125em;
  background-image: linear-gradient(to bottom, #d5d5d5, #e8e8e8);
  box-shadow: 0 1px 1px rgb(255 255 255 / 0.6);
  /* resize for demo */
  font-size: 1.5em;
}

.toggle-checkbox {
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  /* fix em sizing */
  font: inherit;
  opacity: 0;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.375em;
  width: 2.2em;
  height: 1.2em;
  background-color: #e8e8e8;
  box-shadow: inset 0 0 0.0625em 0.125em rgb(255 255 255 / 0.2),
    inset 0 0.0625em 0.125em rgb(0 0 0 / 0.4);
  transition: background-color 0.4s linear;
}

.toggle-checkbox:checked + .toggle-container {
  background-color: blue;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.0625em;
  border-radius: 0.3125em;
  width: 1.2em;
  height: 1.2em;
  background-color: #e8e8e8;
  box-shadow: inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
  transition: left 0.4s;
}

.toggle-checkbox:checked + .toggle-container > .toggle-button {
  left: 1em;
}

.toggle-button-circles-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.125em;
  position: absolute;
  margin: 0 auto;
}
